@{
    ViewData["Title"] = "教师管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentMenu = "Teacher";
}
@model List<TeacherDto>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1>教师管理</h1></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">首页</a></li>
                        <li class="breadcrumb-item active">教师管理</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">教师管理</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="收起">
                        <i class="fas fa-minus" />
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="关闭">
                        <i class="fas fa-times" />
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%"></th>
                            <th style="width: 10%">姓名</th>
                            <th style="width: 10%">性别</th>
                            <th style="width: 10%">年龄</th>
                            <th style="width: 10%">科目</th>
                            <th style="width: 30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var teacher in Model)
                        {
                            <tr>
                                <td class="list-inline">
                                    @teacher.Gender == "男" ? <img class="table-avatar" src="~/images/avatar5.png"> : <img class="table-avatar" src="~/images/avatar3.png">;
                                </td>
                                <td><a>teacher.Name</a></td>
                                <td>teacher.Gender</td>
                                <td>teacher.Age</td>
                                <td>teacher.Course</td>
                                <td class="project-actions text-right">
                                    <a id="teacher_details" class="btn btn-primary btn-sm" href="/Teacher/Details/@teacher.UserID">
                                        <i class="fas fa-folder" />详细
                                    </a>
                                    <a id="teacher_dit" class="btn btn-info btn-sm" href="/Teacher/Edit/@teacher.UserID">
                                        <i class="fas fa-pencil-alt" />编辑
                                    </a>
                                    <a id="teacher_remove" class="btn btn-danger btn-sm" href="#">
                                        <i class="fas fa-trash" />删除
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        //编辑
        $("#edit").click(function (dto) {

        })
    })
</script>

