@model List<MenuDto>

<!-- 菜单-->
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    @foreach (var menu in Model)
    {
        if (menu.MenuType == "action")
        {
            continue;
        }
        var isActive = ViewBag.CurrentMenu == menu.Controller;
        <li class="nav-item has-treeview">
            <a href="/@menu.Controller/@menu.Action" class="nav-link @(isActive ? "active" : "")">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>@menu.Title</p>
            </a>
            @if (menu.ChildNodes.Count > 0)
            {
                <ul class="nav nav-treeview">
                    @foreach (var child in menu.ChildNodes)
                    {
                        <li class="nav-item">
                            <a href="/@child.Controller/@child.Action" class="nav-link @(isActive ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@child.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
    
