@model List<MenuDto>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a href="@Url.Action("Index","Home")" class="nav-link">
            @if (item.Title == "首页")
            {
                <i class="fas fa-home fa-fw"></i> 
            }
            @item.Title
        </a>
    </li>
}
