@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜单项编辑</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <form id="frm_menu_edit" role="form" class="form-horizontal">
        <div class="form-group">
            @*<div class="dropdown">
                    <a id="ddl_menu_parent" href="#" class="btn btn-success" data-toggle="dropdown">---父菜单节点---<i class="fa-caret-down"></i></a>
                    <ul class="dropdown-menu"></ul>
                </div>*@
            <input type="hidden" id="hd_key" name="ID" value="0" />
            <label for="slt_menu_parent" class="col-md-4 text-right">父菜单节点</label>
            <div class="col-md-8">
                <select id="slt_menu_parent" name="ParentID" multiple class="custom-select form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="slt_menu_type" class="col-md-4 text-right">菜单项类型</label>
            <div class="col-md-8">
                <select id="slt_menu_type" name="MenuType" class="form-control">
                    <option value="-1">全部</option>
                    <option value="20">菜单</option>
                    <option value="21">模块</option>
                    <option value="22">控制器</option>
                    <option value="23">功能</option>
                </select>
            </div>
            @*<div class="dropdown">
                    <a id="ddl_menu_type" href="#" class="btn btn-success" data-toggle="dropdown">---菜单类型---<i class="fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">菜单</a></li>
                        <li><a href="#">模块</a></li>
                        <li><a href="#">控制器</a></li>
                        <li><a href="#">功能</a></li>
                    </ul>
                </div>*@
        </div>
        <div class="form-group">
            <label for="lab_title">菜单项标题</label>
            <input id="txt_menu_title" name="Title" class="form-control" placeholder="编辑显示标题" />
        </div>
        <div class="form-group">
            <label for="lab_controller">所属控制器</label>
            <input id="txt_menu_controller" name="Controller" class="form-control" placeholder="编辑控制器名称" />
        </div>
        <div class="form-group">
            <label for="lab_action">执行功能</label>
            <input id="txt_menu_action" name="Action" class="form-control" placeholder="编辑功能名称" />
        </div>
        <div class="form-group">
            <label for="lab_remarks">备注</label>
            <input id="txt_menu_remarks" name="Remarks" class="form-control" placeholder="编辑菜单项备注" />
        </div>
        <button type="button" id="btn_menu_save" class="btn btn-primary">保存</button>
        <button type="button" id="btn_menu_edit_close" class="btn btn-default">关闭</button>
    </form>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: "/Menu/GetParentsAsync",
                method: "post",
                data: { "pid": 0 },
                success: function (data) {
                    if (!data.success) {
                        bt_dialog.error(data.message);
                        return;
                    }
                    var slt = $("#slt_menu_parent").html("");
                    data.rows.each(){
                        slt.append("<option value=\"" + this.ID + "\">" + this.Title + "</option>");
                    }
                }
            })
        })
    </script>
</body>
</html>
