@{
    ViewBag.CurrentMenu = "Menu";
    ViewData["Title"] = "权限菜单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>权限菜单管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">权限菜单</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-group">
                        <div class="card-title">查询条件</div>
                        <div class="card-info">
                            类型：<input type="text" id="txt_type" class="form-control" placeholder="菜单类型" />
                            标题：<input type="text" id="txt_title" class="form-control" placeholder="菜单标题" />
                            <button type="button" id="btn_query" class="btn btn-success">查询</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-info">添加</button>
                        <button type="button" id="btn_edit" class="btn btn-warning">编辑</button>
                        <button type="button" id="btn_remove" class="btn btn-danger">删除</button>
                    </div>
                    <table id="tab_menus" class="table table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //查询
        $("#btn_query").click(function () {
            dataTable.postUrl = "/Menu/Lists";
            dataTable.queryParams({
                "type": $("#txt_type").val(),
                "title": $("#txt_title").val()
            });
            dataTable.tableTarget = $("#tab_menus");
            dataTable.dataColumns = [
                { checkbox: true },
                { field: "ID", title: "编号" },
                { field: "ParentID", title: "父节点" },
                { field: "MenuType", title: "类型" },
                { field: "Title", title: "标题" },
                { field: "Controller", title: "模块" },
                { field: "Action", title: "功能" },
                { field: "Remarks", title: "备注" }
            ];
            dataTable.initTable();
        });

        //添加
        $("#btn_add").click(function () {
            bt_dialog.remoteLoad("添加菜单项", "~/Views/Menu/EditForm.cshtml", function (dialog) {
                $.ajax({

                })
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");   //获取选择项
            if (selectRows.length != 1) {
                bt_dialog.show("提示", "请选择要编辑的数据,一次只能选择一行数据进行编辑");
                return;
            }
            localStorage.setItem("RowData", selectRows[0].serialize()); //行对象存入本地localStorage
            //打开弹框
            bt_dialog.remoteLoad("编辑菜单项", "~/Views/Menu/EditForm.cshtml", function (dialog) {
                $.ajax({
                    url: "/Menu/EditForm",
                    method: "post",
                    data: frm.serializeArray(),
                    beforeSend: function () {   //验证表单
                        var msg = '';
                        if ($("#txt_menu_title").val() == '')
                            msg = "菜单标题不能为空";
                        else if ($("#txt_menu_controller").val() == '')
                            msg = "菜单模块不能为空";
                        else if ($("#txt_menu_action").val() == '')
                            msg = "菜单功能不能为空";
                        bt_dialog.show("提示", msg);
                        return;
                    },
                    success: function (result) {
                        bt_dialog.show("提示", result.message);
                        if (result.success)
                            formClear($("#frm_menu_edit"));
                        //$("#frm_menu_edit")[0].reset();
                        //$("#hd_key").val('0');
                        //$("#slt_menu_parent").selectedIndex = 0;
                        //$("#slt_menu_type").selectedIndex = 0;
                        //$("#txt_menu_title").val('');
                        //$("#txt_menu_controller").val('');
                        //$("#txt_menu_action").val('');
                        //$("#txt_menu_remarks").val('');
                    },
                    error: function () {
                        bt_dialog.show("提示", "请求服务器失败");
                    }
                });
                dialog.close();
            });
        });

        //删除
        $("#btn_remove").click(function () {

        })
    })
</script>

