@{
    ViewData["Title"] = "菜单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentMenu = "Menu";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>权限菜单管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">权限菜单</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-group">
                        <div class="card-title">查询条件</div>
                        <div class="card-info">
                            类型：<input type="text" id="txt_type" class="form-control" placeholder="菜单类型" />
                            标题：<input type="text" id="txt_title" class="form-control" placeholder="菜单标题" />
                            <button type="button" id="btn_query" class="btn btn-success">查询</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-info">添加</button>
                        <button type="button" id="btn_edit" class="btn btn-warning">编辑</button>
                        <button type="button" id="btn_remove" class="btn btn-danger">删除</button>
                    </div>
                    <table id="tab_menus" class="table table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //查询
        $("#btn_query").click(function () {
            initalizeTable({
                tableTarget: $("#tab_menus"),
                postUrl: "/Menu/Lists",
                queryParams: function (params) {
                    var parms = {
                        index: params.pageNumber,
                        size: params.pageSize,
                        type: $("#txt_type").val(),
                        title: $("#txt_title").val()
                    }
                    return parms;
                },
                dataColumns: [
                    { checkbox: true },
                    { field: "ID", title: "编号" },
                    { field: "ParentID", title: "父节点" },
                    { field: "MenuType", title: "类型" },
                    { field: "Title", title: "标题" },
                    { field: "Controller", title: "模块" },
                    { field: "Action", title: "功能" },
                    { field: "Remarks", title: "备注" }
                ]
            });
        });

        //添加
        $("#btn_add").click(function () {
            bt_dialog.loadUrl({
                title: "添加菜单项",
                url: "~/Views/Menu/_EditPartial.cshtml",
                event_submit: function (dialog) {
                    var frm = dialog.getModalBody().find("form");
                    $.ajax({
                        url: "/Menu/Add",
                        method: "post",
                        data: frm.serializeArray(),
                        success: function (result) {
                            bt_dialog.information(result.message);
                            if (result.success) 
                                form.clear(frm);
                        },
                        error: function () {
                            bt_dialog.error("未知错误，请重试");
                        }
                    })
                }
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");   //获取选择项
            if (selectRows.length != 1) {
                bt_dialog.error("请选择有效数据,一次只能编辑一行");
                return;
            }
            //localStorage.setItem("RowData", selectRows[0].serializeObject()); //行对象存入本地localStorage
            //打开url加载
            bt_dialog.remoteUrl({
                title: "编辑菜单项",
                url: "~/Views/Menu/_EditPartial.cshtml",
                event_submit: function (dialog) {
                    var frm = dialog.getModalBody().find("form");
                    $.ajax({
                        url: "/Menu/Edit",
                        method: "post",
                        data: frm.serializeArray(),
                        success: function (result) {
                            bt_dialog.information(result.message);
                            if (result.success)
                                form.clear(frm);
                        },
                        error: function () {
                            bt_dialog.error("未知错误，请重试");
                        }
                    });
                },
                event_showed: function (dialog) {
                    var slt = dialog.getModalBody().find("#slt_menu_parent");
                    $.ajax({
                        url: "/Menu/ParentsAsync",
                        method: "get",
                        data: { "pid": 0 },
                        success: function (result) {
                            var data = $.parseJSON(result);
                            slt.html("").each(data, function (index, dom) {
                                slt.append($("<option value=\"" + dom.ID + "\">" + data[index].Name + "</option>"));
                            });
                        },
                        error: function () {
                            bt_dialog.error("控件初始化失败");
                        }
                    });
                    if (selectRows[0] != null && selectRows[0] != "undefined") {
                        var frm = dialog.getModalBody().find("form");
                        form.load(frm, selectRows[0]);
                    }
                }
            });
        });

        //删除
        $("#btn_remove").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");
            if (selectRows.length == 0 || selectRows == "undefined") {
                bt_dialog.error("请选择有效数据");
                return;
            }
            bt_dialog.confirm("确认删除选中数据？", function (res) {
                if (res) {
                    var ids = [];
                    for (var key in selectRows)
                        ids.push(selectRows[key].uniqueId);
                    $.ajax({
                        url: "/Menu/Remove",
                        method: "post",
                        traditional: true,
                        data: { "keys": ids },
                        success: function (result) {
                            bt_dialog.information(result.message);
                            if (result.success) {
                                $("#tab_menus").bootstrapTable("refresh");
                            }
                        },
                        error: function () {
                            bt_dialog.error("未知错误，请重试");
                        }
                    });
                }
            });
        });
    })
</script>

