@{
    ViewData["Title"] = "菜单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentMenu = "Menu";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>权限菜单管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">权限菜单</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-group">
                        <div class="card-title">查询条件</div>
                        <div class="card-info">
                            类型：<input type="text" id="txt_type" class="form-control" placeholder="菜单类型" />
                            标题：<input type="text" id="txt_title" class="form-control" placeholder="菜单标题" />
                            <button type="button" id="btn_query" class="btn btn-success">查询</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-info">添加</button>
                        <button type="button" id="btn_edit" class="btn btn-warning">编辑</button>
                        <button type="button" id="btn_remove" class="btn btn-danger">删除</button>
                    </div>
                    <table id="tab_menus" class="table table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="modal fade" role="dialog" aria-labelledby="modal_fence_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{ await Html.RenderPartialAsync("~/Views/Menu/_EditPartial.cshtml"); }
        </div>
    </div>
</div>*@

<script>
    $(function () {
        //查询
        $("#btn_query").click(function () {
            dataTable.postUrl = "/Menu/Lists";
            dataTable.queryParams({
                "type": $("#txt_type").val(),
                "title": $("#txt_title").val()
            });
            dataTable.tableTarget = $("#tab_menus");
            dataTable.dataColumns = [
                { checkbox: true },
                { field: "ID", title: "编号" },
                { field: "ParentID", title: "父节点" },
                { field: "MenuType", title: "类型" },
                { field: "Title", title: "标题" },
                { field: "Controller", title: "模块" },
                { field: "Action", title: "功能" },
                { field: "Remarks", title: "备注" }
            ];
            dataTable.initTable();
        });

        //添加
        $("#btn_add").click(function () {
            bt_dialog.loadUrl({
                title: "添加菜单项",
                url: "~/Views/Menu/_EditPartial.cshtml",
                event_submit: saveAs
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");   //获取选择项
            if (selectRows.length != 1) {
                bt_dialog.alert("请选择有效数据,一次只能编辑一行");
                return;
            }
            //localStorage.setItem("RowData", selectRows[0].serializeObject()); //行对象存入本地localStorage
            //打开url加载
            bt_dialog.loadUrl({
                title: "编辑菜单项",
                url: "~/Views/Menu/_EditPartial.cshtml",
                event_submit: saveAs,
                event_showed: function (dialog) {
                    if (selectRows[0] != null && selectRows[0] != "undefined") {
                        var frm = dialog.getModalBody().find("#frm_menu_edit");
                        form.load(frm, selectRows[0]);
                    }
                }
            });
        });

        //删除
        $("#btn_remove").click(function () {

        });

        //保存
        function saveAs(dialog) {
            var frm = dialog.getModalBody().find("#frm_menu_edit");
            $.ajax({
                url: "/Menu/Edit",
                method: "post",
                data: frm.serializeArray(),
                success: function (result) {
                    bt_dialog.show("提示", result.message);
                    if (result.success)
                        form.clear(frm);
                },
                error: function () {
                    bt_dialog.alert("未知错误，请重试");
                }
            });
        }
    })
</script>

