@{
    ViewData["Title"] = "菜单设置";
    ViewBag.CurrentMenu = "Menu";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>菜单设置</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">菜单管理</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="frm_search_menu" class="form-inline">
                        <h4 class="card-title  col-md-2 text-right">查询条件</h4>
                        @*@Html.DropDownList("slt_search_type", ViewData["MenuTypeList"] as SelectList, new { @class="form-control" })*@
                        <input type="text" id="txt_search_title" class="form-control col-md-3" placeholder="标题关键字" />
                        <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i> 查询</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="tab_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-default">
                            <i class="fas fa-plus"></i> 新增
                        </button>
                        <button type="button" id="btn_edit" class="btn btn-default">
                            <i class="fas fa-edit"></i> 编辑
                        </button>
                        <button type="button" id="btn_remove" class="btn btn-default">
                            <i class="fas fa-trash"></i> 删除
                        </button>
                    </div>
                    <table id="tab_menus" data-locale="zh-CN"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //table初始化
        var manageTable = new initTable({
            tableId: "tab_menus",
            ajaxUrl: "/Menu/PagingAsync",
            ajaxMethod: "get",
            queryParamsCallback: function () {
                return {
                    //tp: $("#slt_search_type").val(),
                    tle: $("#txt_search_title").val()
                }
            },
            dataColumns: [
                { checkbox: true, align: "center", valign: "middle" },
                //{ field: "id", title: "编号", align: "center", valign: "middle" },
                //{ field: "parentID", title: "层级", align: "center", valign: "middle" },
                //{ field: "menuType", title: "类型", align: "center", valign: "middle", formatter: function (value, row, index) {
                //    return $("#slt_search_type option[value='" + value + "']").text();
                //}},
                //{ field: "controller", title: "模块", align: "center", valign: "middle" },
                //{ field: "action", title: "动作", align: "center", valign: "middle" },
                { field: "title", title: "标题", align: "center", valign: "middle" },
                { field: "pathUrl", title: "路径", align: "center", valign: "middle" },
                { field: "enabled", title: "启用", align: "center", valign: "middle", formatter: function (row, index, value) {
                        return value ? "已启用" : "未启用";
                }},
                { field: "remarks", title: "备注", align: "center", valign: "middle" }
            ]
        });
        
        //搜索
        $("#btn_query").click(function () {
            manageTable.setRefresh();
        });

        //添加
        $("#btn_add").click(function () {
            modalUtils.showModal({
                remote: "/Menu/EditPartial",
                title: "新建菜单项",
                onOpenedEvent: null,
                onClosedEvent: function () {
                    manageTable.setRefresh();
                },
                onSaveEvent: function () {
                    var frm = $("#frm_menu_edit");
                    $.post("/Menu/AddAsync", frm.serializeArray(), function (result) {
                        layerUtils.alert(result.message,1);
                        if (result.success)
                            formUtils.clear(frm);
                    });
                }
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var rows = manageTable.getSelecteds();
            if (rows.length != 1) {
                layerUtils.info("请选择有效数据行！", 2);
                return;
            }
            var frm = null;
            modalUtils.showModal({
                remote: "/Menu/EditPartial",
                title: "编辑菜单项",
                onOpenedEvent: function () {
                    frm = $("#frm_menu_edit");
                    formUtils.load(frm, rows[0]);
                },
                onClosedEvent: function () {
                    manageTable.setRefresh();
                },
                onSaveEvent: function () {
                    $.post("/Menu/EditAsync", frm.serializeArray(), function (result) {
                        layerUtils.alert(result.message);
                        if (result.success) 
                            formUtils.clear(frm);
                    });
                }
            });
        });

        //删除
        $("#btn_remove").click(function () {
            var rows = manageTable.getSelecteds();
            if (rows.length == 0) {
                layerUtils.info("请选择有效数据！", 2);
                return;
            }
            modalUtils.showConfirm({
                title: "警告",
                message: "确认删除选中行及关联数据？删除后无法恢复！",
                onSureEvent: function () {
                    var keys = [];
                    for (var key in rows)
                        keys.push(rows[key].uniqueId);
                    $.ajax({
                        url: "/Menu/RemoveAsync",
                        method: "post",
                        traditional: true,
                        data: keys,
                        success: function (result) {
                            layerUtils.alert(result.message, 1);
                            if (result.success)
                                manageTable.setRefresh();
                        }
                    });
                }
            });
        });
    })
</script>

