@{
    ViewData["Title"] = "菜单管理";
    ViewBag.CurrentMenu = "Menu";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>菜单管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">菜单管理</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><h4 class="card-title">查询条件</h4></div>
                <div class="card-body">
                    <form id="frm_search_menu" class="form-inline">
                        <div class="form-group col-md-5">
                            <label for="slt_search_menutype" class="col-md-4">类型</label>
                            <select id="slt_search_menutype" name="MenuType" class="form-control col-md-8">
                                <option value="-1">---全部---</option>
                                <option value="20">菜单</option>
                                <option value="21">模块</option>
                                <option value="22">功能</option>
                                <option value="23">动作</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="txt_title" class="col-md-4">标题</label>
                            <input type="text" id="txt_title" class="form-control col-md-8" placeholder="标题关键字" />
                        </div>
                        <div class="form-group col-md-2">
                            <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @*<div class="card-header"><h4 class="card-title">菜单项列表</h4></div>*@
                <div class="card-body">
                    <div id="tb_menus_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-default">
                            <i class="fas fa-plus"></i>新增
                        </button>
                        <button type="button" id="btn_edit" class="btn btn-default">
                            <i class="fas fa-edit"></i>编辑
                        </button>
                        <button type="button" id="btn_remove" class="btn btn-default">
                            <i class="fas fa-remove"></i>删除
                        </button>
                    </div>
                    <table id="tab_menus"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //初始化表格
        $("#tab_menus").bootstrapTable({
            uniqueId: "ID",         //行标识，一般为主键列
            showHeader: true,
            showLoading: true,
            striped: true,          //启用行交替颜色
            toolbar: "#tb_menus_toolbar",    //指定工具条容器
            clickToSelect: true,    //启用点击选中行
            search: false,           //显示表格搜索
            //searchOnEnterKey: true,  //回车键执行搜索
            showColumns: true,       //显示全部列
            showRefresh: true,      //启用刷新按钮
            showToggle: true,        //启用详细视图和列表视图
            cache: false,           //是否启用缓存
            url: "/Menu/PagingAsync",//数据请求地址
            method: "get",          //ajax提交方式（*）
            queryParams: function (params) {    //传递参数（*）
                return {
                    index: params.pageNumber,
                    size: params.pageSize,
                    type: $("#slt_search_menutype").val(),
                    title: $("#txt_title").val()
                }
            },
            paginationLoop: false,  //是否无限循环
            pagination: true,       //启用分页（*）
            sidePagination: "server",   //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,              //当前页码初始化加载第一页，默认第一页
            //pageSize: 10,               //每页的记录行数（*）
            pageList: [10, 20, 50, 100],    //可供选择的每页的行数（*）
            columns: [
                { checkbox: true, align: "center", valign: "middle" },
                //{ field: "id", title: "编号", align: "center", valign: "middle" },
                { field: "parentID", title: "父节点", align: "center", valign: "middle" },
                { field: "menuType", title: "类型", align: "center", valign: "middle" },
                { field: "title", title: "标题", align: "center", valign: "middle" },
                { field: "controller", title: "模块", align: "center", valign: "middle" },
                { field: "action", title: "动作", align: "center", valign: "middle" },
                { field: "remarks", title: "备注", align: "center", valign: "middle" }
            ],
            responseHandler: function (data) {
                return data;
            },
            onLoadSuccess: function (data) {
                console.log(data);
            }
        });

        //搜索
        $("#btn_query").click(function () {
            $("#tab_menus").bootstrapTable("load")
        });

        //添加
        $("#btn_add").click(function () {
            showModal(null,"新建菜单项");
        });

        //编辑
        $("#btn_edit").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");   //获取选择项
            if (selectRows.length != 1) {
                bt_dialog.error("请选择有效数据,一次只能编辑一行");
                return;
            }
            showModal(selectRows[0], "编辑菜单项");
            //localStorage.setItem("RowData", selectRows[0]); //行对象存入本地localStorage
        });

        //删除
        $("#btn_remove").click(function () {
            var selectRows = $("#tab_menus").bootstrapTable("getSelections");
            if (selectRows.length == 0 || selectRows == "undefined") {
                bt_dialog.error("请选择有效数据");
                return;
            }
            bt_dialog.confirm("确认删除选中行及关联数据？删除后无法恢复！", function (res) {
                if (res) {
                    var keys = [];
                    for (var key in selectRows)
                        keys.push(selectRows[key].uniqueId);
                    $.ajax({
                        url: "/Menu/RemoveAsync",
                        method: "post",
                        traditional: true,
                        data: { ids: keys },
                        success: function (result) {
                            bt_dialog.information(result.message);
                            if (result.success) 
                                $("#tab_menus").bootstrapTable("refresh");
                        }
                    });
                }
            });
        });

        //显示模态框
        function showModal(selectRow, title) {
            //模态框显示调用事件
            $("#dialogModal").on("show.bs.modal", function () {
                var modal = $(this);
                modal.find(".modal-content").load("/Menu/EditPartial", {}, function () {
                    modal.find(".modal-title").text(title);
                    var action = selectRow == null ? "/Menu/AddAsync" : "/Menu/EditAsync";
                    $("#btn_modal_save").click(function () {
                        var frm = $("#frm_menu_edit");
                        $.post(action, frm.serializeArray(), function (result) {
                            bt_dialog.information(result.message);
                            if (result.success)
                                formExt.clear(frm);
                        });
                    });
                });
            }).modal({
                backdrop: true,
                keyboard: false
            });
        }
    })
</script>

