@{
    ViewData["Title"] = "菜单管理";
    ViewBag.CurrentMenu = "Menu";
}
<style>
    #frm_search_menu .col-md-2,.col-md-3,.col-md-4 { padding:0 15px; }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>菜单管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">菜单管理</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @*<div class="card-header"><h4 class="card-title">查询条件</h4></div>*@
                <div class="card-body">
                    <form id="frm_search_menu" class="form-inline">
                        <h4 class="card-title  col-md-2 text-right">查询条件</h4>
                        <select id="slt_search_type" name="MenuType" class="form-control col-md-3">
                            <option value="-1">---全部类型---</option>
                            <option value="20">菜单</option>
                            <option value="21">模块</option>
                            <option value="22">功能</option>
                            <option value="23">动作</option>
                        </select>
                        <input type="text" id="txt_search_title" class="form-control col-md-3" placeholder="标题关键字" />
                        <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i> 查询</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @*<div class="card-header"><h4 class="card-title">菜单项列表</h4></div>*@
                <div class="card-body">
                    <div id="tab_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-success">
                            <i class="fas fa-plus"></i> 新增
                        </button>
                        <button type="button" id="btn_edit" class="btn btn-primary">
                            <i class="fas fa-edit"></i> 编辑
                        </button>
                        <button type="button" id="btn_remove" class="btn btn-warning">
                            <i class="fas fa-trash"></i> 删除
                        </button>
                    </div>
                    <table id="tab_menus"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        //table初始化
        var manageTable = new initTable({
            tableId: "#tab_menus",
            requestUrl: "/Menu/PagingAsync",
            ajaxMethod: "get",
            callback: function () {
                return {
                    type: $("#slt_search_type").val(),
                    title: $("#txt_search_title").val()
                }
            },
            dataColumns: [
                { checkbox: true, align: "center", valign: "middle" },
                //{ field: "id", title: "编号", align: "center", valign: "middle" },
                { field: "parentID", title: "父节点", align: "center", valign: "middle" },
                { field: "menuType", title: "类型", align: "center", valign: "middle" },
                { field: "title", title: "标题", align: "center", valign: "middle" },
                { field: "controller", title: "模块", align: "center", valign: "middle" },
                { field: "action", title: "动作", align: "center", valign: "middle" },
                { field: "remarks", title: "备注", align: "center", valign: "middle" }
            ]
        });

        //搜索
        $("#btn_query").click(function () {
            manageTable.reload("/Menu/PagingAsync", {
                type: $("#slt_search_type").val(),
                title: $("#txt_search_title").val()
            });
        });

        //添加
        $("#btn_add").click(function () {
            modalUtils.showModal({
                remote: "/Menu/EditPartial",
                title: "新建菜单项",
                onOpenedEvent: null,
                onClosedEvent: null,
                onSaveEvent: function () {
                    var frm = $("#frm_menu_edit");
                    $.post("/Menu/AddAsync", frm.serializeArray(), function (result) {
                        openDialog.info(result.message);
                        if (result.success)
                            formExt.clear(frm);
                    });
                }
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var rows = manageTable.getSelecteds();
            if (rows.length != 1) {
                layerUtils.info("请选择有效数据！", 2);
                return;
            }
            var frm = null;
            modalUtils.showModal({
                remote: "/Menu/EditPartial",
                title: "编辑菜单项",
                onOpenedEvent: function () {
                    frm = $("#frm_menu_edit");
                    formUtils.load(frm, rows[0]);
                },
                onClosedEvent: function () {
                    manageTable.refresh;
                },
                onSaveEvent: function () {
                    $.post("/Menu/EditAsync", frm.serialize(), function (result) {
                        layerUtils.info(result.message);
                        if (result.success)
                            formUtils.clear(frm);
                    });
                }
            });
        });

        //删除
        $("#btn_remove").click(function () {
            var rows = manageTable.getSelecteds();
            if (rows.length == 0) {
                layerUtils.info("请选择有效数据！", 2);
                return;
            }
            modalUtils.showConfirm({
                title: "警告",
                message: "确认删除选中行及关联数据？删除后无法恢复！",
                onSureEvent: function () {
                    var keys = [];
                    for (var key in rows)
                        keys.push(rows[key].uniqueId);
                    $.ajax({
                        url: "/Menu/RemoveAsync",
                        method: "post",
                        traditional: true,
                        data: keys,
                        success: function (result) {
                            openDialog.info(result.message);
                            if (result.success)
                                manageTable.refresh;
                        }
                    });
                }
            });
        });
    })
</script>

