@{
    ViewData["Title"] = "角色管理";
    ViewBag.CurrentMenu = "Role";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>角色设置</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">角色设置</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-inline">
                        <h4 class="card-title col-md-2 d-md-inline text-right">查询条件</h4>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon"><i class="fade fa-user"></i></span>
                            <input type="text" id="txt_search_role" class="form-control" placeholder="角色名称关键字">
                        </div>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon"><i class="fade fa-code"></i></span>
                            <input type="text" id="txt_search_code" class="form-control" placeholder="角色代码关键字">
                        </div>
                        <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="tab_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-default">
                            <i class="fas fa-plus"></i> 新增
                        </button>
                        <button type="button" id="btn_edit" class="btn btn-default">
                            <i class="fas fa-edit"></i> 编辑
                        </button>
                        <button type="button" id="btn_remove" class="btn btn-default">
                            <i class="fas fa-trash"></i> 删除
                        </button>
                    </div>
                    <table id="tab_roles" class="table table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .table .thead-blue th {
        color:#fff;
        background-color:#3195f1;
        /*border-color:#0d7adf;*/
    }
</style>
<script>
    $(function () {
        var mgrTable, firstTable, twoTable;
        mgrTable = firstTable = twoTable = null;

        /**************************************
         * 检查指定键是否存在
         * @@param jsonData 源数据
         * @@param key 要检查的键
         * @@return bool
         *************************************/
        function isExist(jsonData, id) {
            if (jsonData == null || jsonData == "undefine") 
                return false;
            for (key in jsonData) {
                var entry = jsonData[key];
                if (entry.key != id) {
                    if (entry.childs != null && entry.childs != "undefine") {
                        if (isExist(entry.childs, id))
                            return true;
                    }
                }
                else
                    return true;
            }
            return false;
        }

        //初始化table
        mgrTable = new tableView.manageTable({
            tableId: "tab_roles",
            toolbarId:"tab_toolbar",
            showDetail: true,
            ajaxUrl: "/Role/PaginatorAsync",
            ajaxMethod: "get",
            queryParamsCallback: function () {
                return {
                    name: $("#txt_search_role").val(),
                    code: $("#txt_search_code").val()
                }
            },
            dataColumns: [
                { checkbox: true, width:"50", align: "center", valign: "middle" },
                { field: "name", title: "角色", align: "center", valign: "middle" },
                { field: "code", title: "代码", align: "center", valign: "middle" },
                { field: "remarks", title: "备注", align: "center", valign: "middle" }
            ],
            onExpandRowCallback: function (index, row, $detail) {  //行展开事件
                //获取指定角色授权
                var assDtos = $.getJSON("/Role/GetAuthorizesByRole", {code: row.code}, function (data) {
                    return data;
                });
                //初始模块集table
                firstTable = new tableView.detailTable({
                    //rowCode: row.code,
                    detail: $detail,
                    showDetail: true,
                    ajaxUrl: "/Permission/GetPermissionAllAsync",   //获取所有授权
                    dataColumns: [
                        { field: "named", align: "left", valign: "middle" },
                        { field: "typeAt", align: "left", valign: "middle" },
                        { field: "command", align: "left", valign: "middle" },
                        { field: "remarks", align: "left", valign: "middle" }
                    ],
                    onExpandRowCallback: function (index, row, $detail) {
                        //初始化模块table
                        twoTable = new tableView.detailTable({
                            data: row.childs,
                            detail: $detail,
                            dataColumns: [
                                { field: "named", width: "120", align: "center", valign: "middle" },
                                { field: "enabled", width: "120", align: "center", valign: "middle" },
                                { field: "", width: "700", align: "left", valign: "middle", formatter: function (index, row, value) {
                                    var dtos = row.childs;
                                    var domEle = $("<div class='col-sm-offset-2 col-sm-10'></div>");
                                    for (var key in dtos) {
                                        if (dtos[key].typeAt == "action")
                                            domEle.append("<div class='checkbox d-md-inline  ml-1 mr-1'><label><input type='checkbox' checked='" +
                                                isExist(assDtos, dtos[key].id) + "' value='" + dtos[key].id + "'> " + dtos[key].named + "</label></div>");
                                    }
                                    return domEle.html();
                                }}
                            ]
                        });
                    }
                });
            }
        });
    })
</script>