@{
    ViewData["Title"] = "角色管理";
    ViewBag.CurrentMenu = "Role";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>角色管理</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">角色管理</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-inline">
                        <h4 class="card-title col-md-2 d-md-inline text-right">查询条件</h4>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon"><i class="fade fa-user"></i></span>
                            <input type="text" id="txt_search_role" class="form-control" placeholder="输入角色名称">
                        </div>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon"><i class="fade fa-code"></i></span>
                            <input type="text" id="txt_search_code" class="form-control" placeholder="输入角色代码">
                        </div>
                        <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="tab_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-default">
                            <i class="fas fa-plus"></i> 新增
                        </button>
                        <button type="button" id="btn_edit" class="btn btn-default">
                            <i class="fas fa-edit"></i> 编辑
                        </button>
                        <button type="button" id="btn_remove" class="btn btn-default">
                            <i class="fas fa-trash"></i> 删除
                        </button>
                    </div>
                    <table id="tab_roles"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        //初始化table
        var manageTable = new btTable.parentTable({
            tableId: "tab_roles",
            showDetail: true,
            ajaxUrl: "/Role/BrowseAsync",
            ajaxMethod: "get",
            queryParamsCallback: function () {
                return {
                    name: $("#txt_search_role").val(),
                    code: $("#txt_search_code").val()
                }
            },
            dataColumns: [
                { checkbox: true, align: "center", valign: "middle" },
                { field: "name", title: "角色", align: "center", valign: "middle" },
                { field: "code", title: "代码", align: "center", valign: "middle" },
                { field: "remarks", title: "备注", align: "center", valign: "middle" }
            ],
            onRowExpandCallback: function (row, $detail) {  //行展开事件
                var subTable = new btTable.childTable({
                    rowData: row.menuDtos,
                    domEle: $detail,
                    ajaxUrl: "/Role/CompleteMenusAsync",
                    ajaxMethod: "get",
                    dataColumns: [
                        { checkbox: true, align: "center", valign: "middle" },
                        { field: "title", width: "200", align: "center", valign: "middle" },
                        { field: "controller", width: "100", align: "center", valign: "middle" },
                        {
                            field: "", width: "600", align: "center", valign: "middle", formatter: function (row, index, value) {
                                var childs = row.menuDtos;
                                var actionHtml = "<div class='form-inline'><div class='col-sm-offset-2 col-sm-10'>";
                                for (var key in childs) {
                                    if (key == "action") {
                                        actionHtml.append("<div class='checkbox'>");
                                        actionHtml.append("<label><input type='checkbox'>" + childs[key] + "</label>");
                                        actionHtml.append("</div>");
                                    }
                                }
                                actionHtml.append("</div></div>");
                                return actionHtml;
                            }
                        }
                    ]
                });
            }
        });
    })
</script>