@{
    ViewData["Title"] = "权限设置";
    ViewBag.CurrentMenu = "Permission";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>权限设置</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">权限设置</a></li>
                    <li class="breadcrumb-item active">浏览</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-inline">
                        <h4 class="card-title col-2 col-md-2 text-right">查询条件</h4>
                        <div class="input-group col-4">
                            @Html.DropDownList("sel_search_typeat", ViewData["PermissionType"] as SelectList, "==查询类型==", new { @class="form-control" })
                        </div>
                        <div class="input-group col-4">
                            <input type="text" id="txt_search_named" class="form-control" placeholder="权限名称关键字">
                        </div>
                        <button type="button" id="btn_query" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="tab_toolbar" class="btn-group">
                        <button type="button" id="btn_add" class="btn btn-default"><i class="fas fa-plus"></i> 新增</button>
                        <button type="button" id="btn_edit" class="btn btn-default"><i class="fas fa-edit"></i> 编辑</button>
                        <button type="button" id="btn_remove" class="btn btn-default"><i class="fas fa-trash"></i> 删除</button>
                    </div>
                    <table id="tab_permissions"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        //初始化table
        var mgrTable = new tableView.manageTable({
            tableId: "tab_permissions",
            ajaxUrl: "/Permission/PaginatorAsync",
            queryParamsCallback: function () {
                return {
                    tp: $("#sel_search_typeat").val(),
                    named: $("#txt_search_named").val()
                }
            },
            dataColumns: [
                { checkbox: true, width: "50", align: "center", valign: "middle" },
                //{ field: "levelID", title: "层级", align: "center", valign: "middle" },
                { field: "typeAt", title: "类型", align: "center", valign: "middle" },
                { field: "named", title: "名称", align: "center", valign: "middle" },
                { field: "command", title: "指令", align: "center", valign: "middle" },
                { field: "enabled", title: "启用", align: "center", valign: "middle" },
                { field: "remarks", width: "300", title: "备注", align: "center", valign: "middle" }
            ]
        });

        //搜索
        $("#btn_query").click(function () {
            mgrTable.setRefresh();
        });

        //添加
        $("#btn_add").click(function () {
            modalUtils.showModal({
                remote: "/Permission/EditorPartial",
                title: "新建权限项",
                onOpenedEvent: function () {
                    formUtils.clear($("#frm_permission_editor"));
                },
                onClosedEvent: function () {
                    mgrTable.setRefresh();
                },
                onSaveEvent: function () {
                    var frm = $("#frm_permission_editor");
                    $.post("/Permission/AddAsync", { model: frm.serializeObject() }, function (result) {
                        layerUtils.info(result.message, 1);
                        if (result.success)
                            formUtils.clear(frm);
                    });
                }
            });
        });

        //编辑
        $("#btn_edit").click(function () {
            var selected = mgrTable.getSelecteds();
            if (selected.length != 1) {
                layerUtils.info("请选择有效数据行", 2);
                return;
            }
            var model = selected[0];
            //打开模态框
            modalUtils.showModal({
                remote: "/Permission/EditorPartial",
                title: "编辑权限项",
                onOpenedEvent: function () {
                    //$("#TypeAt").bind("change", optionChange(e));
                    formUtils.echo($("#frm_permission_editor"), model);
                    $("#slt_level").removeAttr("disabled");
                },
                onClosedEvent: function () {
                    mgrTable.setRefresh();
                },
                onSaveEvent: function () {
                    var frmObj = $("#frm_permission_editor");
                    $.post("/Permission/EditAsync", { model: frmObj.serializeObject() }, function (result) {
                        layerUtils.alert(result.message);
                        if (result.success)
                            formUtils.clear(frmObj);
                    });
                }
            });
        });

        //删除
        $("#btn_remove").click(function () {
            var selectRows = mgrTable.getSelecteds();
            if (selectRows.length != 1) {
                layerUtils.info("请选择有效数据行。", 2);
                return;
            }
            layerUtils.confirm("确定删除选择项？其关联数据也同时删除！", function () {
                $.post("/Permission/RemoveAsync", { id: selectRows[0].id }, function (result) {
                    layerUtils.alert(result.message);
                    if (result.success)
                        mgrTable.setRefresh();
                });
            });
        });
    })
</script>

